

<footer class="bg-black dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl">
    <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
      <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-300 uppercase dark:text-white">Company</h2>
          <ul class="text-gray-400 dark:text-gray-400 font-medium">
              <li class="mb-4">
                  <a href="#" class=" hover:underline">About</a>
              </li>
              <li class="mb-4">
                  <a href="#" class="hover:underline">Careers</a>
              </li>
              <li class="mb-4">
                  <a href="#" class="hover:underline">Brand Center</a>
              </li>
              <li class="mb-4">
                  <a href="#" class="hover:underline">Blog</a>
              </li>
          </ul>
      </div>
      <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-300 uppercase dark:text-white">Help center</h2>
          <ul class="text-gray-400 dark:text-gray-400 font-medium">
              <li class="mb-4">
                  <a href="#" class="hover:underline">Discord Server</a>
              </li>
              <li class="mb-4">
                  <a href="#" class="hover:underline">Twitter</a>
              </li>
              <li class="mb-4">
                  <a href="#" class="hover:underline">Facebook</a>
              </li>
              <li class="mb-4">
                  <a href="#" class="hover:underline">Contact Us</a>
              </li>
          </ul>
      </div>
      <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-300 uppercase dark:text-white">Legal</h2>
          <ul class="text-gray-400 dark:text-gray-400 font-medium">
              <li class="mb-4">
                  <a href="#" class="hover:underline">Privacy Policy</a>
              </li>
              <li class="mb-4">
                  <a href="#" class="hover:underline">Licensing</a>
              </li>
              <li class="mb-4">
                  <a href="#" class="hover:underline">Terms &amp; Conditions</a>
              </li>
          </ul>
      </div>
      <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-300 uppercase dark:text-white">Download</h2>
          <div class="grid grid-cols-6 gap-4 mt-4 mb-10 sm:justify-center md:mt-0">
            <!-- QR Code (Takes 3 columns) -->
            <div class="col-span-3 flex justify-center">
                <img src="/images/Qrcode 1.png" class="w-24 sm:w-28 md:w-32" alt="QR Code" />
            </div>

            <div class="col-span-3 grid grid-rows-2 gap-2">
              <div class="flex justify-center">
                  <img src="/images/get-google-play.png" class="w-20" alt="Google Play" />
              </div>
              <div class="flex justify-center">
                  <img src="/images/get-apple-store.png" class="w-20" alt="Apple Store" />
              </div>
            </div>

          </div>


          <div class="flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse">
            <a href="#" class="text-gray-200 size-12 hover:text-gray-600 dark:hover:text-white">
              <i class="fa-brands fa-facebook-f"></i>
                  <span class="sr-only">Facebook page</span>
              </a>

              <a href="#" class="text-gray-200 size-12 hover:text-gray-600 dark:hover:text-white">
                <i class="fa-brands fa-twitter"></i>
                  <span class="sr-only">Twitter page</span>
              </a>
              <a href="#" class="text-gray-200 size-12 hover:text-gray-600 dark:hover:text-white">
                <i class="fa-brands fa-instagram"></i>
                <span class="sr-only">Instgram page</span>
            </a>
            <a href="#" class="text-gray-200 size-12 hover:text-gray-600 dark:hover:text-white">
              <i class="fa-brands fa-linkedin-in"></i>
              <span class="sr-only">Linkdin page</span>
          </a>
        </div>
      </div>
  </div>
  <div class="px-4 py-6 bg-black dark:bg-gray-700 md:flex md:items-center md:justify-center ">
      <span class="text-sm text-gray-500 dark:text-gray-300 sm:text-center">© 2023 <a href="https://flowbite.com/">Flowbite™</a>. All Rights Reserved.
      </span>

    </div>
  </div>
</footer>

