<div class="flex flex-col md:flex-row justify-center items-center w-full p-4 mb-8 gap-6">
  <div class="flex flex-col md:flex-row max-w-3xl bg-white border border-gray-200 rounded-lg shadow-xl shadow-black  dark:bg-gray-800 dark:border-gray-700">

    <!-- Image Section -->
    <a href="#" class="md:w-1/2 w-full">
      <img src="/images/forgot-password-concept-illustration_114360-1095.jpg" class="rounded-t-lg md:rounded-l-lg md:rounded-t-none h-full w-full object-cover">
    </a>
@if (step==0) {
 <!-- Form1 Section -->
 <div class="md:w-1/2 w-full p-5 flex flex-col justify-between">
  <div class="my-5 container">
    <h2 class="text-center mt-10 dark:text-white">Forget Password Form</h2>

    @if (errormessage) {
      <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        <span class="font-medium">{{errormessage}}</span>
      </div>
    }

    <form class="max-w-sm mx-auto w-full" [formGroup]="forgetpasswordform" (ngSubmit)="submitform1()" >
      <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
        <input type="email" id="email" formControlName="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
        @let email = forgetpasswordform.get('email');
        @if (email?.touched) {
          @if(email?.hasError('required')) {
            <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              <span class="font-medium">Email is required</span>
            </div>
          }
          @else if (email?.hasError('email')) {
            <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              <span class="font-medium">Email not valid</span>
            </div>
          }
        }
      </div>


      <div class="flex justify-end">
        <button type="submit" [class]="forgetpasswordform.invalid?'disabled':'enabled'" [disabled]="forgetpasswordform.invalid" class="focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
          @if(loading){
            <i class="fas fa-spin fa-spinner"></i>
          }
          submit
        </button>
      </div>
    </form>
  </div>
</div>
} @else if (step==1){
<!-- Form2 Section -->
<div class="md:w-1/2 w-full p-5 flex flex-col justify-between">
  <div class="my-5 container">
    <h2 class="text-center mt-10 dark:text-white">verify code Form</h2>

    @if (errormessage) {
      <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        <span class="font-medium">{{errormessage}}</span>
      </div>
    }

    <form class="max-w-sm mx-auto w-full" [formGroup]="verifycodeform" (ngSubmit)="submitform2()" >
      <div class="mb-5">
        <label for="resetCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your code</label>
        <input type="text" id="resetCode" formControlName="resetCode" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
        @let resetCode = verifycodeform.get('resetCode');
        @if (resetCode?.touched) {
          @if(resetCode?.hasError('required')) {
            <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              <span class="font-medium">code is required</span>
            </div>
          }
          @else if (resetCode?.hasError('minlength')) {
            <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              <span class="font-medium">code max length 6 digits</span>
            </div>
          }
        }
      </div>


      <div class="flex justify-end">
        <button type="submit" [class]="verifycodeform.invalid?'disabled':'enabled'" [disabled]="verifycodeform.invalid" class="focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
          @if(loading){
            <i class="fas fa-spin fa-spinner"></i>
          }
          submit
        </button>
      </div>
    </form>
  </div>
</div>
}@else {
  <!-- Form3 Section -->
  <div class="md:w-1/2 w-full p-5 flex flex-col justify-between">
    <div class="my-5 container">
      <h2 class="text-center mt-10 dark:text-white">Reset Password Form</h2>

      @if (errormessage) {
        <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
          <span class="font-medium">{{errormessage}}</span>
        </div>
      }

      <form class="max-w-sm mx-auto w-full" [formGroup]="resetpasswordform" (ngSubmit)="submitform3()" >
        <div class="mb-5">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
          <input type="email" id="email" formControlName="email" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
          @let email1 = resetpasswordform.get('email');
          @if (email1?.touched) {
            @if(email1?.hasError('required')) {
              <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium">Email is required</span>
              </div>
            }
            @else if (email1?.hasError('email')) {
              <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium">Email not valid</span>
              </div>
            }
          }
        </div>

        <div class="mb-5">
          <label for="newpassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
          <input type="password" id="newPassword" formControlName="newPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
          @let newPassword = resetpasswordform.get('newPassword');
          @if (newPassword?.touched) {
            @if(newPassword?.hasError('required')) {
              <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium">Password is required</span>
              </div>
            }
            @else if (newPassword?.hasError('pattern')) {
              <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium">Invalid password format. It must be 6 characters</span>
              </div>
            }
          }
        </div>

        <div class="flex justify-end">
          <button type="submit" [class]="resetpasswordform.invalid?'disabled':'enabled'" [disabled]="resetpasswordform.invalid" class="focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
            @if(loading){
              <i class="fas fa-spin fa-spinner"></i>
            }
            submit
          </button>
        </div>
      </form>
    </div>
  </div>
}



  </div>
</div>
